/* MAIN */
.hero {
  position: relative;
  margin-bottom: 150px;
}
.hero__image {
  z-index: -1;
}
.hero__propos {
  z-index: 1;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  top: 200px;
  right: 0;
  width: 550px;
}
.propos_zone {
  margin-top: 90px;
  margin-left: 90px;
  position: relative;
  height: 210px;
}
.hero__proposTitle {
  position: absolute;
  top: 0px;
  text-transform: uppercase;
}
.hero__proposText {
  position: absolute;
  bottom: 0px;
  line-height: 1.6;
  color: hsl(0, 0%, 41%);
}
