/* CONFIG */
@font-face {
  font-family: "Alata";
  font-weight: 400;
  src: url("fonts/Alata/Alata-Regular.ttf");
}
@font-face {
  font-family: "Josefin_Sans";
  font-weight: 300;
  src: url("fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}

/*- White: hsl(0, 0%, 100%)
- Black: hsl(0, 0%, 0%)
- Dark Gray: hsl(0, 0%, 55%)
- Very Dark Gray: hsl(0, 0%, 41%)*/

/* ALL */
* {
  font-size: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Alata";
}
.container {
  width: 1440px;
  margin: auto;
}
.section {
  margin: 0 160px;
}
main {
  background-color: hsl(0, 0%, 100%);
  font-size: 15px;
}
h1,
h2,
h3 {
  text-transform: uppercase;
  font-family: "Josefin_Sans";
  font-weight: 300;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 30px;
}
/* HEADER */
.header {
  background-image: url("images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  height: 500px;
  padding: 50px 100px 50px 100px;
  color: hsl(0, 0%, 100%);
  margin-bottom: 100px;
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__menuItems {
  display: flex;
  flex-direction: row;
}
.header__menuItem {
  width: 100px;
  text-align: center;
}
.header__menuItem--active:hover {
  cursor: pointer;
}
/* https://www.steckinsights.com/shorten-length-border-bottom-pure-css/*/
.header__menuItem--active:hover::after {
  transition: 0.2s all ease-in-out;
  content: "";
  display: block;
  margin: 0 auto;
  width: 25%;
  padding-top: 10px;
  border-bottom: hsl(0, 0%, 100%) solid 2px;
}
.header__left {
  display: flex;
}
.header__subtitle {
  margin-top: 100px;
  padding: 30px;
  padding-right: 100px;
  border: hsl(0, 0%, 100%) 2px solid;
}
/* MAIN */
.hero {
  position: relative;
  margin-bottom: 150px;
}
.hero__image {
  z-index: -1;
}
.hero__propos {
  z-index: 1;
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  top: 200px;
  right: 0;
  width: 550px;
}
.propos_zone {
  margin-top: 90px;
  margin-left: 90px;
  position: relative;
  height: 210px;
}
.hero__proposTitle {
  position: absolute;
  top: 0px;
  text-transform: uppercase;
}
.hero__proposText {
  position: absolute;
  bottom: 0px;
  line-height: 1.6;
  color: hsl(0, 0%, 41%);
}
/* CREATIONS */
.creations {
  margin-bottom: 150px;
}
.creation__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 80px;
}
.creation__button {
  border: hsl(0, 0%, 0%) 2px solid;
  border-radius: 3px;
  padding: 10px 50px;
  vertical-align: auto;
  margin-bottom: auto;
  text-transform: uppercase;
  font-family: "Josefin_Sans";
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 5px;
  transform: scale(0.8, 1);
  display: inline-block;
}
.creation__button--active:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
  transition: 0.2s all ease-in-out;
}
/* CREATIONS ITEMS */
.creation__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.creation__item {
  width: 256px; /* Or whatever */
  height: 450px; /* Or whatever */
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
}
.creation__item:hover img {
  transition: 0.2s all ease-in-out;
  opacity: 0.5;
}
.item__title {
  position: absolute;
  bottom: 40px;
  left: 40px;
  color: hsl(0, 0%, 100%);
}
.creation__item:hover .item__title {
  transition: 0.2s all ease-in-out;
  opacity: 1;
  color: hsl(0, 0%, 0%);
}
/* FOOTER */
footer {
  background-color: hsl(0, 0%, 0%);
  color: hsl(0, 0%, 100%);
}
.footer {
  padding-top: 50px;
}
.footer__top,
.footer__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__top {
  margin-bottom: 30px;
}
.footer__rss {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__rs {
  width: 45px;
}
.footer__rs > img:hover {
  cursor: pointer;
}
.footer__menuItems {
  display: flex;
  flex-direction: row;
}
.footer__menuItem {
  width: 100px;
  display: flex;
}
.footer__menuItem--active:hover {
  cursor: pointer;
}
.footer__menuText--active:hover::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 10px;
  border-bottom: hsl(0, 0%, 100%) solid 3px;
}
.footer__bottom {
  padding-bottom: 50px;
}
.footer__note {
  color: hsl(0, 0%, 55%);
}
/* ATTRIBUTION */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
