/* CONFIG */
@font-face {
  font-family: "Alata";
  font-weight: 400;
  src: url("/loopstudios-landing-page-main/fonts/Alata/Alata-Regular.ttf");
}
@font-face {
  font-family: "Josefin_Sans";
  font-weight: 300;
  src: url("/loopstudios-landing-page-main/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}

/*- White: hsl(0, 0%, 100%)
- Black: hsl(0, 0%, 0%)
- Dark Gray: hsl(0, 0%, 55%)
- Very Dark Gray: hsl(0, 0%, 41%)*/

/* ALL */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-family: "Alata";
}
.container {
  width: 1440px;
  margin: auto;
  background-color: hsl(0, 0%, 100%);

  font-size: 15px;
}
.is-title {
  font: "Josefin_Sans";
}
/* HEADER */
.header {
  background-image: url("images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  height: 500px;
  padding: 50px 100px 50px 100px;
  color: hsl(0, 0%, 100%);
  margin-bottom: 50px;
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__menuItems {
  display: flex;
  flex-direction: row;
}
.header__menuItem {
  width: 100px;
  text-align: center;
}
.header__menuItem--active:hover {
  cursor: pointer;
}
/* https://www.steckinsights.com/shorten-length-border-bottom-pure-css/*/
.header__menuItem--active:hover::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 25%;
  padding-top: 10px;
  border-bottom: hsl(0, 0%, 100%) solid 3px;
}
.header__left {
  display: flex;
}
.header__subtitle {
  margin-top: 100px;
  padding: 30px;
  padding-right: 100px;
  border: hsl(0, 0%, 100%) 2px solid;
}
.header__subtitle h1 {
  text-transform: uppercase;
  font-family: "Josefin_Sans";
  font-size: 70px;
}
/* MAIN */

/* FOOTER */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
